.header-section{
    width:100%;
    height:300px;
    background-color: grey;
}
.header-wrap{
    width:100%;
    height:50px;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    .header-theme{
        width:100px;
        display: flex;
        justify-content: space-between;
    }
    .header-search{
        width:100px;
        background-color: black;
    
    }
    .header-card{
        width:100px;
        cursor: pointer;

    
    }
}
.theme-button-light{
    background-color: inherit;
    color:black;
}
.theme-button-dark{
    background-color: inherit;
    color:white;

}



