.header-section{
    width:100%;
    height:300px;
    background-color: grey;
}
.header-wrap{
    width:100%;
    height:50px;
    background-color: lightblue;
    display: flex;
    justify-content: space-around;
    .header-theme{
        width:100px;
        display: flex;
        justify-content: space-between;
    }
    .header-search{
        
        input{
            margin: auto;
            width:200px;
            height:50px;
            border-radius: 50px;
            border-style: none;
            outline: none;
            transition: 0.5s;
            &:focus{
                left: 25%;
                width:500px;

            }
            &:focus .header-search{
                width:300px;

            }
        }
    
    }
    .header-card{
        width:100px;
        cursor: pointer;

    
    }
}
.theme-button-light{
    background-color: inherit;
    color:black;
}
.theme-button-dark{
    background-color: inherit;
    color:white;

}



